redditautomation.json
[
  {
    "id": "619d147b.6d0aac",
    "type": "tab",
    "label": "reddit",
    "disabled": false,
    "info": "",
    "module": null,
    "version": null,
    "_def": {
      "defaults": {
        "label": {
          "value": ""
        },
        "disabled": {
          "value": false
        },
        "info": {
          "value": ""
        }
      }
    },
    "in": [],
    "out": [],
    "changed": false
  },
  {
    "valid": true,
    "id": "49f4028d452c0235",
    "type": "reddit-credentials",
    "username": "blackberrycitylights",
    "user_agent": "blackberrycitylights",
    "auth_type": "username_password",
    "name": "blackberrycitylights",
    "module": "node-red-contrib-node-reddit",
    "version": "1.0.11"
  },
  {
    "valid": true,
    "id": "e116abe1a2fbf064",
    "type": "ui_tab",
    "name": "Reddit Stuff",
    "icon": "dashboard",
    "disabled": false,
    "hidden": false,
    "module": "node-red-dashboard",
    "version": "3.1.7"
  },
  {
    "valid": true,
    "id": "b3e169d2410b94c3",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "customTheme": {
        "name": "Untitled Theme 1",
        "default": "#4B7930",
        "baseColor": "#4B7930",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "base-font": {
          "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
        }
      },
      "angularTheme": {
        "primary": "indigo",
        "accents": "blue",
        "warn": "red",
        "background": "grey",
        "palette": "light"
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD/MM/YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    },
    "module": "node-red-dashboard",
    "version": "3.1.7"
  },
  {
    "valid": true,
    "id": "94d2246480ccdb1d",
    "type": "ui_group",
    "name": "Default",
    "tab": "e116abe1a2fbf064",
    "order": 1,
    "disp": true,
    "width": "8",
    "collapse": false,
    "className": "",
    "module": "node-red-dashboard",
    "version": "3.1.7"
  },
  {
    "valid": true,
    "id": "cd36be26e2019d95",
    "type": "ui_group",
    "name": "New",
    "tab": "e116abe1a2fbf064",
    "order": 2,
    "disp": true,
    "width": "7",
    "collapse": false,
    "className": "",
    "module": "node-red-dashboard",
    "version": "3.1.7"
  },
  {
    "valid": true,
    "id": "90fb21c8a4d58957",
    "type": "ui_group",
    "name": "Comment",
    "tab": "e116abe1a2fbf064",
    "order": 3,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": "",
    "module": "node-red-dashboard",
    "version": "3.1.7"
  },
  {
    "valid": true,
    "id": "18dd73ffdb49fc2f",
    "type": "reddit-credentials",
    "username": "lightningmayonnaise",
    "user_agent": "lightningmayonnaise",
    "auth_type": "username_password",
    "name": "lightningmayonnaise",
    "module": "node-red-contrib-node-reddit",
    "version": "1.0.11"
  },
  {
    "valid": true,
    "id": "9f99d58133592a9f",
    "type": "search",
    "z": "619d147b.6d0aac",
    "name": "",
    "reddit": "49f4028d452c0235",
    "subreddit": "all",
    "query": "automate",
    "time": "hour",
    "sort": "relevance",
    "x": 310,
    "y": 220,
    "wires": [
      [
        "4564521309d4b110",
        "dd8a64c0e39a2895",
        "e682f9a2cdf284ec"
      ]
    ],
    "module": "node-red-contrib-node-reddit",
    "version": "1.0.11"
  },
  {
    "valid": true,
    "id": "8c0e386681208d55",
    "type": "inject",
    "z": "619d147b.6d0aac",
    "name": "Inject",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payloadType": "date",
    "x": 130,
    "y": 180,
    "wires": [
      [
        "9f99d58133592a9f"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "4564521309d4b110",
    "type": "change",
    "z": "619d147b.6d0aac",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "post.permalink",
        "pt": "msg",
        "to": "payload.permalink",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "post.url",
        "pt": "msg",
        "to": "payload.url",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "post.id",
        "pt": "msg",
        "to": "payload.id",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "post.subreddit",
        "pt": "msg",
        "to": "payload.subreddit",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "post.selftext",
        "pt": "msg",
        "to": "payload.selftext",
        "tot": "msg"
      },
      {
        "t": "set",
        "p": "post.full",
        "pt": "msg",
        "to": "payload",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 567,
    "y": 174,
    "wires": [
      [
        "e2e362b15eb39520"
      ]
    ],
    "module": "node-red",
    "version": "2.0.6-git"
  },
  {
    "valid": true,
    "id": "20ca68089374ce67",
    "type": "bot-scheduler",
    "z": "619d147b.6d0aac",
    "name": "",
    "outputField": "payload",
    "endpointUrl": "/scheduler-20ca68089374ce67",
    "timeZone": "",
    "wasDeployed": true,
    "commandResponseMsgOutput": "output1",
    "outputs": 1,
    "changedAt": "2022-04-27T05:14:19.857Z",
    "options": [
      {
        "name": "1-20ca68089374ce67",
        "topic": "Search Reddit",
        "payloadType": "date",
        "payload": "",
        "expressionType": "cron",
        "expression": "0 0 0/1 * * * *",
        "location": "",
        "offset": "0",
        "solarType": "all",
        "solarEvents": "sunrise,sunset",
        "autostart": true,
        "isStatic": true
      }
    ],
    "x": 180,
    "y": 80,
    "wires": [
      []
    ],
    "module": "maya-red-bot-utils",
    "version": "1.0.1"
  },
  {
    "valid": true,
    "id": "ce4b75ac96c5e147",
    "type": "ui_table",
    "z": "619d147b.6d0aac",
    "group": "94d2246480ccdb1d",
    "name": "",
    "order": 1,
    "width": "8"...
